@use 'colors.scss';
@import './base.css';
@import './fonts.css';

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal; */
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
}
